<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Basic usage</mat-panel-title>
      <mat-panel-description
        >Simple usage, only coloring some countries.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-simple></app-simple>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Random Values</mat-panel-title>
      <mat-panel-description
        >Same as simple usage but with changing data.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-random-values></app-random-values>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Random Values</mat-panel-title>
      <mat-panel-description
        >Fixed countries, random values
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-random-countries></app-random-countries>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Sizes</mat-panel-title>
      <mat-panel-description
        >Show image in different sizes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-different-sizes></app-different-sizes>
  </mat-expansion-panel>
</mat-accordion>
